<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<<<<<<< HEAD
    
    <style>
        .notebookstyle
        {
            height:200px;
            width:160px;
            border:transparent;
            margin:10px;
            background:url(<%= asset_path('notebook.png') %>);
            background-size:100% 100%;
            text-transform:uppercase;
            color:white;
            transition-duration: 0.2s;
            transition-timing-function: linear;
        }

        .notebookstyle:hover
        {
            height:200px;
            width:160px;
           
            margin:10px;
            background:url(<%= asset_path('notebook7.jpg') %>);
            background-size:100% 100%;
            text-transform:uppercase;

        }
    </style>
=======
<style>

.notebookstyle
{
    height:200px;
    width:160px;
    border:transparent;
    margin:10px;
    background:url(<%= asset_path('notebook.png') %>);
    background-size:100% 100%;
    text-transform:uppercase;
    color:white;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.notebookstyle:hover
{
    height:200px;
    width:160px;
   
    margin:10px;
    background:url(<%= asset_path('notebook7.jpg') %>);
    background-size:100% 100%;
    text-transform:uppercase;

}

</style>
>>>>>>> fb9ae3fdaa56b1ba7356bbdd9bb2780d2be4dee1
</head>

<body>
    <div id="wrapper">
<<<<<<< HEAD
=======

      
>>>>>>> fb9ae3fdaa56b1ba7356bbdd9bb2780d2be4dee1
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div id="notebooks" class="col-lg-12">
                        <h1>
                            Dashboard
                        </h1>
                        <!--<% flash.each do |message_type, message| %>
                            <div class="alert alert-<%= message_type %>"><%= message %></div>
                        <% end %>-->
                        
                        <hr>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <%= link_to "New Note", '/notes/new', :style => "color:white" %>
                          </button>
                        </div>
                        
                        <div class="btn-group">
                          <button type="button" class="btn btn-info" onClick="$('#newNotebookModal').modal()" data-target="#newNotebookModal">
                            <i class="glyphicon glyphicon-book"></i>
                            New Notebook
                          </button>
                        </div>
                        
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <%= link_to "Note Index", notes_path, :style => "color:white"  %>
                          </button> 
                        </div>

                        <div class="btn-group">
                          <button type="button" class="btn btn-info" onClick="$('#myUploadModal').modal()" data-target="#myUploadModal">
                            <i class="glyphicon glyphicon-file"></i>
                            Upload Note
                          </button>
                        </div>

                        <br/>
                        <hr>
                        <br>


                        <p> Your Notebooks </p>

                        <% cache(cache_key_for_all_notebooks) do %>
<<<<<<< HEAD

=======
>>>>>>> fb9ae3fdaa56b1ba7356bbdd9bb2780d2be4dee1
                        <table id="notebook-row" class="table table-striped">
                            <tbody class="notebooks">
                                <% @notebooks.each do |notebook| %>

                                 <% cache(cache_key_for_notebook(notebook)) do %>
                                
                                    <%= button_to notebook.title, notebook, :class=>"notebookstyle",:method=>:get%>
                                 <%end%>
                                <% end %>
                            </tbody>

                        </table>
<<<<<<< HEAD

                    </div> <!-- End notebook row -->
                </div><!-- /.row -->
=======
>>>>>>> fb9ae3fdaa56b1ba7356bbdd9bb2780d2be4dee1
                        <%end%>
                        <!-- End notebook row -->


            </div>

                      <!--      <script>
                                var classes = ["TMP 241", "CS 290B", "CS 270", "Homework"];

                                for (i = 0; i < classes.length; i++) { 

                                    var notebook = document.createElement("div");
                                    var a = document.createElement("a");
                                    var p = document.createElement("p");
                                    var img = document.createElement("img");

                                    notebook.className = "col-sm-4 col-md-2";
                                    a.className = "thumbnail";
                                    img.src = "<%= asset_path('notebook.png') %>";
                                    p.setAttribute('style','text-align:center;');
                                    p.innerHTML = classes[i];

                                    a.appendChild(img);
                                    a.appendChild(p);
                                    notebook.appendChild(a);

                                    document.getElementById('notebook-row').appendChild(notebook);

                                }
                            </script>-->
                        
                        

             </div>
            </div>

                <!-- Upload Note Modal -->
                <div id="myUploadModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Upload Note</h4>
                            </div>
                            <div class="modal-body">
                                <p>Select a note to upload (pdf/jpeg)</p>
                                <%= render 'partials/upload_note' %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End upload note modal -->

                <!-- New Notebook Modal -->
                <div id="newNotebookModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- New Notebook Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Notebook</h4>
                            </div>
                            <div class="modal-body">
                                <p>Choose a title for your new notebook</p>
                                <%= render 'partials/new_notebook' %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End new notebook note modal -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>
