<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
<!--         <nav class="navbar navbar-inverse navbar-static-left" role="navigation"> -->
            <!-- Brand and toggle get grouped for better mobile display -->
            


            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="#" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-book"></i> Notebooks <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo1" class="collapse">
                            <li>
                                    <a href="#">CS290B</a>
                                </li>
                                <li>
                                    <a href="#">TMP</a>
                                </li>
                                <li>
                                    <a href="#">Add New...</a>
                                </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#demo2"><i class="fa fa-bolt fa-fw"></i> Note Shortcuts <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo2" class="collapse">
                                <li>
                                    <a href="#">CS290B Lecture 1</a>
                                </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-wrench"></i> External Tools <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo3" class="collapse">
                            <li>
                                <a href="#">Wolfram Alpha</a>
                            </li>
                            <li>
                                <a href="#">Wikipedia</a>
                            </li>
                            <li>
                                <a href="#">Google</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    
                </ul>
            
            <!-- /.navbar-collapse -->
     <!--    </nav> -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div id="notebooks" class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                        <% flash.each do |message_type, message| %>
                            <div class="alert alert-<%= message_type %>"><%= message %></div>
                        <% end %>
                        <div class="btn-group">
                          <%= link_to "View Notes", notes_path, :class => "btn btn-info" %>
                          <%= link_to "Create Note", '/notes/new', :class => "btn btn-info" %>
                          <%= link_to "Favorite Notes", '/notes/new', :class => "btn btn-info" %>
                        </div>
                        <div>
                            <br/>
                            <span>Upload a note!</span>
                            <br/>
                            <%= render 'partials/upload_note' %>
                        </div>
                        <hr>

                        <p> Your Notebooks! </p>
                        
                        <div id="notebook-row" class="row">
                            <!-- Populated by Javascript below -->
                        </div>
                        <!-- End notebook row -->

                        <hr>

                    </div>

                            <script>
                                var classes = ["TMP 241", "CS 290B", "CS 270", "Homework"];

                                for (i = 0; i < classes.length; i++) { 

                                    var notebook = document.createElement("div");
                                    var a = document.createElement("a");
                                    var p = document.createElement("p");
                                    var img = document.createElement("img");

                                    notebook.className = "col-sm-4 col-md-2";
                                    a.className = "thumbnail";
                                    img.src = "<%= asset_path('notebook.png') %>";
                                    p.setAttribute('style','text-align:center;');
                                    p.innerHTML = classes[i];

                                    a.appendChild(img);
                                    a.appendChild(p);
                                    notebook.appendChild(a);

                                    document.getElementById('notebook-row').appendChild(notebook);




                                    // var notebook = document.createElement("button");
                                    // var t = document.createTextNode("CS290B!");  
                                    // var div = document.createElement("div");
                                    // var br = document.createElement("br");

                                    // notebook.className = "btn btn-success";
                                    // notebook.text = "CS290B!";
                                    // notebook.appendChild(t)
                                    // notebook.appendChild(br);
                                    // notebook.appendChild(div);

                                    // document.getElementById('notebooks').appendChild(notebook);
                                    // document.getElementById('notebooks').appendChild(div);

                                    // var element = document.getElementById("div1");
                                    // var child = document.getElementById("p1");
                                    // element.insertBefore(para,child);
                                }
                            </script>
                        
                        

                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
