<% provide(:title, "Welcome") %>

 <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>


    <!-- Header -->
    <a name="about"></a>
    <div class="main_bg" style="padding-top: 50px; padding-bottom: 50px;
    text-align: center;
    background: url(<%= asset_path 'intro-bg.jpg' %>);

    background-size: 100%;
    color: #f8f8f8;
    ">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>The World's Notes</h1>
                        <h3>Notes and Beer to Bring Everyone Cheer</h3>


                        <hr class="intro-divider">
                        <div class="lead", style="color:black">
                          <div >
                            <%= form_tag search_path do |f| %>
                                <%= text_field_tag :search, nil, placeholder: 'Keyword, Title..' %>
                                <%= submit_tag "Search", class: "btn" %>
                            <%end%>
                          </div>
                        </div>
                        <br>

                        <button class="btn btn-default btn-lg"><span class="fa fa-facebook fa-fw"></span><%= link_to " Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

   <!-- Page Content -->
</body>
    
</html>
