<% provide(:title, "All Notes") %>
<div class="panel panel-default">
  <div class="panel-body"><</div>
</div>
<br/>
<br/>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
<% if @notes.count > 0 %>  
<h1>All notes in notebook <span style="color:green"><%= @notebook.title %></span></h1>

<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <%= link_to note.title, note %>
    </li>
  <% end %>
</ul>
<%else%>
	<span style="color:green"><%= @notebook.title %></span> has no notes.
<%end%>