<div class="container">
 
  <% provide(:title, "All Notes") %>
  

  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <% if @notes.count > 0 %>  

    <h3 style="margin-top: 4%; margin-left: 2%">
      <span style="color:green"><%= @notebook.title %></span>
    </h3>
    <h4 style="margin-top: 2%; margin-left: 2%"><%=pluralize(@notes.count, 'note')%></h4>

<%= will_paginate @notes %>

    <table class="table table-striped" style="width: 60%;">
     <thead>
        <tr>
          <th>Title</th>
          <th>University</th>
          <th>Class</th>
          <th>Professor</th>
        </tr>
      </thead>

      <tbody class="notes">
            
          <% @notes.each do |note| %>
          
          <tr style="color:grey">
              <td><%= link_to note.title, note, :style => "color:#00B87A"  %></td>
              <td><%=  note.university %></td>
              <td><%=  note.class_subject %></td>
              <td><%=  note.professor %></td> 
          </tr>
          
          <%end%>
      </tbody>
  </table>
  
  <%= will_paginate @notes%>


  <%else%>
  	<h3><span style="color:green"><%= @notebook.title %></span> has no notes.</h3>
  <%end%>

<br>
<br>
  <button type="button" class="btn btn-success">
      <i class="glyphicon glyphicon-list-alt"></i>
      <%= link_to "New Note", '/notes/new', :style => "color:white" %>
    </button>
    <!-- 
     <%= button_to "<i class=\"icon-book icon-white\">New Note</i>".html_safe, '/notes/new', :class => 'btn btn-success', :style => "color:white"  %>
 -->
    <button type="button" class="btn btn-info">
      <i class="glyphicon glyphicon-list-alt"></i>
      <%= link_to "Share Notebook", '#', :style => "color:white" %>
    </button>

    <button type="button" class="btn btn-danger">

      <i class="glyphicon glyphicon-list-alt"></i>
      <%= link_to "Delete Notebook", @notebook, :style => "color:white", :method => :delete, :data => { :confirm => "You sure you want to delete this notebook? This will also delete all of the notes inside. "} %>
    </button>

    <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>

    <br>
    <br>

</div>
