<% provide(:title, "Edit Note") %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta name="fragment" content="!">
        <meta name="author" content="Austin Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="contact" content="austin@rarebreedstudios.com">
        <meta name="copyright" content="Austin Anderson. All rights reserved">
        <meta charset="utf-8">
        <title>textAngular :: Lightweight Angular.js, Javascript Wysiwyg/Text-Editor</title>
        <link rel="shortcut icon" href="images/favicon.png">
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>

        <%= javascript_include_tag "textAngular-rangy.min", "textAngular-sanitize.min", "textAngular.min", "bootstrap-tags" %>
        <%= stylesheet_link_tag "bootstrap-tags" %>
        <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300"> -->
    <link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">
    </head>

    <body>
            <div id="note_save_msg" style="display: none;"></div>
            <div id="ng-app" ng-app="textAngularDemo" ng-controller="demoController" class="ng-scope">
                <br>
                <br>
                <!--note title-->
                <table style="border-spacing:20px 20px;" cellspacing="30px">
                    <div class="form-group">
                       <tr>
                            <td> 
                                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold; font-size:17px">Title:</label>
                            </td>
                            <td> 
                                <input class="form-control" type="text" ng-model="title"
                                        style="width: 500px">
                            </td>
                        </tr>
                    </div>
                    
                    <!--note university-->
                    <div class="form-group">
                        <tr>
                            <td><br/>   
                                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold; font-size:17px">University:</label>
                            </td>
                            <td><br/>  
                                <input class="form-control" type="text" ng-model="university" style="width: 250px">
                            </td>
                        </tr>
                    </div>

                    <!--note class-->
                    <div class="form-group">
                       <tr>
                            <td> <br/> 
                                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold; font-size:17px">Class:</label>
                            </td>
                            <td><br/> 
                                <input class="form-control" type="text" ng-model="notes_class" style="width: 250px">
                            </td>
                        </tr>
                    </div>

                    <!--note prof-->
                    <div class="form-group">
                       <tr>
                            <td><br/>  
                                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold; font-size:17px">Professor:</label>
                            </td>
                            <td><br/> 
                                <input class="form-control" type="text" ng-model="professor" style="width: 250px">
                            </td>
                        </tr>
                    </div>
                    
                    <!--notebook-->
                    <div class="form-group">
                       <tr>
                            <td> <br/> 
                                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold; font-size:17px">Notebook: </label>
                            </td>
                            <td><br/> 
                                <select class="form-control" id="notebook_id" style="width:200px" ng-model="notebook">
                                    <%@notebooks.each do |option|%>
                                    <option value="<%=option.id%>"><%=option.title%></option>
                                    <%end%>
                                </select>  
                            </td>
                        </tr>
                    </div>


                    <div id="div-item-data" data-item-title="<%= @note.title %>" data-item-university="<%=@note.university %>"
                    data-item-class="<%= @note.class_subject %>" data-item-prof="<%= @note.professor %>" 
                    data-item-content="<%= @note.content.html_safe %>"></div>

                    
                </table>
                <br/>
                <br>

                <!--Angular Text Editor-->
                    <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                <br>

                <!--<p ng-bind="htmlContent" class="text-left text-med text-gray"></p>-->


                <!--Save Button-->
                <button class="btn btn-success" ng-click="save()"
                        style=" background-color: white; border-color: black; width: 120px; color:black; font-weight: bold;
                        margin-top: 20px; float: right; margin-right: 50px">
                    <!-- <span class="glyphicon glyphicon-save"></span>&nbsp&nbsp Save &nbsp&nbsp -->
                    <span>Save</span>
                </button>
                <br>
                <br>
            </div>
        <!-- End Container -->

    </body>

    <script type="text/javascript">

            angular.module("textAngularDemo", ['textAngular'])
                    .controller("demoController", function demoController($scope, $http, $window) {

                        var div = document.getElementById('div-item-data');
                        $scope.title = div.getAttribute("data-item-title");
                        $scope.university = div.getAttribute("data-item-university");
                        $scope.notes_class = div.getAttribute("data-item-class");
                        $scope.professor = div.getAttribute("data-item-prof");
                        $scope.htmlContent = div.getAttribute("data-item-content");

                        $scope.save = function(){
                            var noteObj = {
                                title: $scope.title,
                                content: $scope.htmlContent,
                                university: $scope.university,
                                class_subject: $scope.notes_class,
                                professor: $scope.professor,
                                
                            }
                            //confirm(noteObj.content);
                            $http.post('/notes', noteObj).success(function(data, status){
                                    // confirm(status);
                                    $window.location.href = '/notes';
                                }).error(function(data, status){
                                    // confirm(status);    
                                });
                        }

                    });
        </script>
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
</html>