<% provide(:title, "All Notes") %>
<!--<div class="panel panel-default">
  <div class="panel-body"></div>
</div>
-->
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    
  <h3 style="margin-top: 30px; color:black"><%=current_user.name %>'s Notes</h3>
  <span style="margin-top: 30px; color:black"><i><%= pluralize(@notes.count, 'note')%></i></span>

  <%= will_paginate %>
  <%cache(cache_key_for_all_notes) do%>
  <table class="table table-striped" style="width: 95%; margin-left:2%;">
  	 <thead>
        <tr>
          <th>Title</th>
          <th>Notebook</th>
          <th>University</th>
          <th>Class</th>
          <th>Professor</th>
        </tr>
      </thead>

      <tbody class="notes">
            
          <% @notes.each do |note| %>
          <% cache(cache_key_for_note(note)) do%>
          <tr style="color:grey">
              <td><%= link_to note.title, note, :style => "color:#00B87A"  %></td>
              <td><%= link_to note.notebook.title, note.notebook if !note.notebook.nil? %></td>
              <td><%=  note.university %></td>
              <td><%=  note.class_subject %></td>
              <td><%=  note.professor %></td> 
          </tr>
          <%end%>
          <%end%>
      </tbody>
  </table>
  <%end%>
  <%= will_paginate %>

