<!--<% provide(:title, "All Notes") %>
<div class="panel panel-default">
  <div class="panel-body"></div>
</div>
-->
<div class="container">
  <br/>
  <br/> 
  <br/> 
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    
  <h3 style="margin-top: 30px; color:black"><%=current_user.name %>'s Notes</h3>

<br>
  <button type="button" class="btn btn-success">
      <i class="glyphicon glyphicon-list-alt"></i>
      <%= link_to "New Note", '/notes/new', :style => "color:white" %>
    </button>
    
    <br>
    <br>
    <br>


  <%= will_paginate %>

  <table class="table table-striped" style="width: 95%; margin-left:2%;">
  	 <thead>
        <tr>
          <th>Title<i class="fa fa-fw fa-sort"></i></th>
          <th>Notebook<i class="fa fa-fw fa-sort"></i></th>
          <th>University<i class="fa fa-fw fa-sort"></i></th>
          <th>Class<i class="fa fa-fw fa-sort"></i></th>
          <th>Professor<i class="fa fa-fw fa-sort"></i></th>
        </tr>
      </thead>

      <tbody class="notes">
          <% @notes.each do |note| %>
          <tr>
              <td><%= link_to note.title, note, :style => "color:#00B87A"  %></td>
              <td><%= link_to note.notebook.title, note.notebook.title if !note.notebook.nil? %></td>
              <td></td>
              <td></td>
              <td></td> 
          </tr>
          <% end %>
      </tbody>
  </table>


  <!-- <ul class="notes">
    <% @notes.each do |note| %>
      <li>
        <%= link_to note.title, note %>
      </li>
    <% end %>
  </ul> -->

  <%= will_paginate %>
</div>
