<% provide(:title, "Note") %>
<!DOCTYPE html>

<html lang="en" ng-app="noteIt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
        <script>
            document.write('<base href="' + document.location + '" />');
        </script>
        <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.16"></script>

        <%= stylesheet_link_tag "bootstrap-tags" %>
        <%= stylesheet_link_tag "vote" %>
        <%= javascript_include_tag "bootstrap-tags" %>
        <%= javascript_include_tag "vote" %>
    </head>
    <body ng-controller="MainCtrl">

        <div class="page-header" style="position:fixed; left: 5%" >
            <h1 style="color:grey"><%= @note.title%></h1>
            <div id="tags"><%=@note.university %>  <%=@note.class_subject %>  <%=@note.professor %></div>
        
        </div>

        <div class="panel panel-default" style="position:fixed; top: 25%; left:5%; background-color:transparent; width:70%">
            <div class="panel-body" >
               
                <%=@note.content.html_safe%>
            </div>

        </div>
    
       <!-- <div class="panel panel-default" style="position:fixed; bottom: 5%; left:5%">
            <div class="panel-body" >
                <i title="Up Votes" ng-click="changeVote(vote, 'up', 1)" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
                <br>
                <i title="Down Votes" ng-click="changeVote(vote, 'down', -1)" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i>
                <br>Vote: {{vote}}
            </div>

        </div> -->
        <section class="panel panel-default" style="position:fixed; bottom: 5%; left:5%">
        
            <% if(user_signed_in? && current_user.id != @note_owner) %>
                <%= render 'partials/vote' %>
            <%end%>
        </section>
    </body>

</html>


