<% provide(:title, "Note") %>

<!-- 
<html lang="en" ng-app="noteIt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>  -->
        
        <%= stylesheet_link_tag "bootstrap-tags" %>
        <%= stylesheet_link_tag "vote" %>
        
    <!-- </head> -->

            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span style="color:green"><%= @note.title%> </span>
                        <%if user_signed_in?%>
                        <div class="btn-group" style="float:right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
                                    aria-expanded="false" style="height:30px; width: 35px; border-color:darkred">
                            <span class="caret"></span>
                          </button>
                          
                          <ul class="dropdown-menu pull-right">
                            <li><%= link_to 'Edit',edit_note_path %></li>
                            <li><a href="#">Set as Private Note</a></li>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to "Delete", @note, :method => :delete, :data => {:confirm => "You sure you want to delete this note?" } %></li>
                          </ul>
                          <%end%>
                        </div>
                    </h3>
                    <span class="text-primary"><%=@note.university %>  <%=@note.class_subject %>  <%=@note.professor %></span>
                </div>
                <div class="panel-body"><%=@note.content.html_safe%> 
                </div>
            </div>

            
            <%if @note.avatar_file_name %>
            <% if @note.avatar_content_type =~ /image*/ %>
                <div>
                        <%= link_to "View original image", @note.avatar.url%> 
                        <br/>   
                        <%= image_tag @note.avatar.url(:medium) %>
                        
                </div>
            <%else%>
                <div>
                    <%= link_to "View uploaded file", @note.avatar.url%>
                </div>
            <%end%>
            <%end%>
            <section class="panel panel-default" style="position:fixed; bottom: 5%; left:1%">
            
                <% if(user_signed_in? && current_user.id != @note_owner) %>
                    <%= render 'partials/vote' %>
                <%else%>
                    <%= render 'partials/view_vote' %>
                <%end%>
            </section>

            <br>
            <hr>
            <section>
            <!-- Comments Form -->
                <% if user_signed_in? %>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                <div >
                    <h4>Leave a Comment:</h4>
                    <%= render 'partials/leave_a_comment' %>
                </div>
                <!-- End comments form -->
                <%else%>
                    <div><i>You must be signed in to post comments.</i></div>
                <%end%>
                <!-- Comments -->

            </section>
            <br/>
            <% if @note.comments.all.count > 0 %>
            <section>
                <h3>Recent comments</h3>
                <br/>
                <%if @note.comments.all.count > 5%>
                <small>
                  <%= form_for(:comment, :url => comments_show_path) do |f| %>
                    <%= hidden_field_tag :note_id, @note.id %>
                    <%= f.submit "View all (#{pluralize(@note.comments.all.count, 'comment')})"%>
                  <% end %>
                </small>
                <br/>
                <%end%>
                 <%= render 'partials/show_comments'%>  
            <!-- End Comments -->
            </section>
            <%else%>
                <% if user_signed_in? %><section><h3>Be the first to comment!</h3></section> <%end%>
            <%end%>

             
                
    <!-- </body> -->

<!-- </html> -->
<script>
            document.write('<base href="' + document.location + '" />');
        </script>
        <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.16"></script>

<%= javascript_include_tag "bootstrap-tags" %>
        <%= javascript_include_tag "vote" %>






