<% provide(:title, "Note") %>
<!DOCTYPE html>

<html lang="en" ng-app="noteIt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
        <script>
            document.write('<base href="' + document.location + '" />');
        </script>
        <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.16"></script>

        <%= stylesheet_link_tag "bootstrap-tags" %>
        <%= stylesheet_link_tag "vote" %>
        <%= javascript_include_tag "bootstrap-tags" %>
        <%= javascript_include_tag "vote" %>
    </head>
    <body> <!-- ng-controller="MainCtrl">-->
        <div class="container">

            <br>
            <br>
            <br>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><%= @note.title%></h3>
                    <span class="text-primary"><%=@note.university %>  <%=@note.class_subject %>  <%=@note.professor %></span>
                </div>
                <div class="panel-body"><%=@note.content.html_safe%> 
                </div>
            </div>

            
            <%if @note.avatar_file_name %>
            <% if @note.avatar_content_type =~ /image*/ %>
                <div>
                        <%= link_to "View original image", @note.avatar.url%> 
                        <br/>   
                        <%= image_tag @note.avatar.url(:medium) %>
                        
                </div>
            <%else%>
                <div>
                    <%= link_to "View uploaded file", @note.avatar.url%>
                </div>
            <%end%>
            <%end%>
            <section class="panel panel-default" style="position:fixed; bottom: 5%; left:1%">
            
                <% if(user_signed_in? && current_user.id != @note_owner) %>
                    <%= render 'partials/vote' %>
                <%else%>
                    <%= render 'partials/view_vote' %>
                <%end%>
            </section>

            <br>
            <br>
            <hr>
            <!-- Comments Form -->
            <div class="well col-lg-8 col-centered">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea id="comment" class="form-control" rows="3"></textarea>
                    </div>
                    <button id="comment-submit" onclick="myFunction()" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- End comments form -->

            <!-- Comment -->
                <div class="media col-lg-8 col-centered">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">S
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media col-lg-8 col-centered">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>





        </div>
        <!-- End container -->

    </body>

    <script>
    function myFunction() {
        var comment = document.getElementById("comment").value;
        window.alert("Comment: " + comment);
    }
    </script>

</html>







