<% provide(:title, "Note") %>
<!DOCTYPE html>

<html lang="en" ng-app="noteIt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
        <script>
            document.write('<base href="' + document.location + '" />');
        </script>
        <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.16"></script>

        <%= stylesheet_link_tag "bootstrap-tags" %>
        <%= stylesheet_link_tag "vote" %>
        <%= javascript_include_tag "bootstrap-tags" %>
        <%= javascript_include_tag "vote" %>
    </head>
    <body> <!-- ng-controller="MainCtrl">-->
        <div class="container">

            <br>
            <br>
            <br>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><%= @note.title%></h3>
                    <span class="text-primary"><%=@note.university %>  <%=@note.class_subject %>  <%=@note.professor %></span>
                </div>
                <div class="panel-body"><%=@note.content.html_safe%> 
                </div>
            </div>

            
            <%if @note.avatar_file_name %>
            <% if @note.avatar_content_type =~ /image*/ %>
                <div>
                        <%= link_to "View original image", @note.avatar.url%> 
                        <br/>   
                        <%= image_tag @note.avatar.url(:medium) %>
                        
                </div>
            <%else%>
                <div>
                    <%= link_to "View uploaded file", @note.avatar.url%>
                </div>
            <%end%>
            <%end%>
            <section class="panel panel-default" style="position:fixed; bottom: 5%; left:1%">
            
                <% if(user_signed_in? && current_user.id != @note_owner) %>
                    <%= render 'partials/vote' %>
                <%else%>
                    <%= render 'partials/view_vote' %>
                <%end%>
            </section>

            <br>
            <br>
            <hr>
            <!-- Comments Form -->
          
          <%= render 'partials/new_comment' %>
<!--    
            <div class="well" ng-app="commentAngular" ng-controller="commentController">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea id="comment" ng-model="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button id="comment-submit" ng-click="saveComment()" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
-->
            <!-- End comments form -->

        </div>
        <!-- End container -->

    </body>

    <script>
      
//      angular.module("commentAngular", ['textAngular'])
//                    .controller("commentController", function commentController($scope, $http, $window) {
//
//                        $scope.saveComment = function(){
//                            var commentObj = {
//                                content: $scope.content,
//                                user_id: @user.id,
//                                note_id: 
//                            }
//                            //confirm(noteObj.content);
//                            $http.post('/comments', commentObj).success(function(data, status){
//                                    confirm(status);
//                                    $window.location.href = '/notes';
//                                }).error(function(data, status){
//                                    confirm(status);    
//                                });
//                        }
//
//                    });
//    function myFunction() {
//        var comment = document.getElementById("comment").value;
//        window.alert("Comment: " + comment);
//
//    }
    </script>

</html>


