<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NoteIt</title>


    <link href="css/signup.css" rel="stylesheet">


</head>
<body>
<div class="signupback">
<h2 class="font">SIGN UP</h2>
<div class="signupbox">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<table style="padding:10px;">
  <div class="field">
    <tr><td><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true %></td></tr>
  </div>

  <div class="field">
    <tr><td><%= f.label :password %>
    <% if @minimum_password_length %>
    <br/><em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></td><td>
    <%= f.password_field :password, autocomplete: "off" %></td></tr>
  </div>

  <div class="field">
    <tr><td><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td></tr>
  </div>

  <div class="actions">
    <tr><td colspan="2"><%= f.submit "Sign up", :class => 'signupbutton' %></td></tr>
  </div>
<% end %>

<tr><td colspan="2"><%= render "devise/shared/links" %></td></tr></table>
</div>
</div>
</body>
</html>
