<div>
  <h3 style="color:green"><strong><%= @note.title %></strong></h3>
  <span style=class"green">By <%= user_name User.find(@note.user_id) %></span> 

  <h4><%=pluralize @comments.count, 'comment'%></h4>
  <br/>
  <%cache(cache_key_for_all_comments @comments) do%>  
  <table class="comments">
    
      <% @comments.each do |comment| %>
      <%cache(cache_key_for_comment(comment)) do%>
     
      <tr>
          <div class="media col-lg-8 col-centered">
      
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
              <span style="color:grey">Posted by <%=user_name User.find(comment.user_id)%> <%= time_ago_in_words comment.created_at%> ago.</span>
              <br/>
                <%= comment.body %>
              </h4>
            </div>
          </div>
      </tr>

      <%end%>
      <%end %>
  </table>
  <%end%>
</div>