<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NoteIt!</title>


    <link href="css/signup.css" rel="stylesheet">


</head>
<body>
<div class="loginback">
<h2 class="font">Log in</h2>
<div class="signupbox" style="text-align:center;">

<table>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <tr><td><%= f.label :email %></td><td>
    <%= f.email_field :email, autofocus: true, :class => 'signupbutton' %></td></tr>
  </div>

  <div class="field">
    <tr><td><%= f.label :password %></td><td>
    <%= f.password_field :password, autocomplete: "off", :class => 'signupbutton' %></td></tr>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <tr><td><%= f.check_box :remember_me, :class => 'signupbutton' %>
      <%= f.label :remember_me %></td></tr>
    </div>
  <% end -%>

  <div class="actions">
<tr><td colspan="2">
    <%= f.submit "Log in", :class => 'signupbutton' %></td></tr>
  </div>
<% end %>

<tr><td colspan="2"><%= render "devise/shared/links" %></td></tr></table>

</div>
</div>
</body>
</html>
