<div>
	<%= form_for Comment.new do |form| %>
  		<%=hidden_field_tag :note_id, @note.id %>
      <%= form.label :content %>
  		<%= form.text_field :content%>
  		<%= form.submit "Post comment" %>
	<% end %>
</div>