<div id = "upvote_form">
	<div id="upvote_count"><%=@note.get_upvotes.size%></div>
	<div id = "upvote_form_form">
		<%= form_for(@note, remote: true) do |f| %>
  		<div><%= hidden_field_tag :upvote, current_user %></div>
  		<%= f.submit "Upvote" %>
		<% end %>
	</div>
</div>

<div id = "downvote_form">
	<div id = "downvote_form_form">
		<%= form_for(@note, remote: true) do |f| %>
  		<div><%= hidden_field_tag :downvote, current_user %></div>
  		<%= f.submit "Downvote" %>
		<% end %>
	</div>
	<div id = "downvote_count">
		<%if(@note.get_downvotes.size != 0)%>
			<%=-@note.get_downvotes.size%>
		<%else%>
			0
		<%end%>
	</div>
</div>