<h2>Your notes feed</h2>

<%= will_paginate @feed_items%>
<ul>
<% @feed_items.each do |item| %>
<li>
	<h3><strong><%= item.title %></strong><br/></h3>
	<%= item.content.html_safe.truncate_words(10) %><br/>
	<small>Last modified by <%= item.user.email %> <%= time_ago_in_words item.updated_at.to_s %> ago.</small>
	<%= link_to "View note", item %>	
</li>
<%end%>

<%= will_paginate @feed_items%>