<% provide(:title, "All Users") %>
<h3 style="color:brown"> NoteIt users </h3>
 <%= will_paginate %>
 <%cache(cache_key_for_users(@users)) do%>
 <table>
 	<% @users.each do |user| %>
 	<br/>
 	<tr>
 		<span style="float:left"> <%= image_tag 'missing.png', size: '55'%></span>
 		<span style="color:green"><%= user.name %></span> <br/>
 		<span style="color:grey"><%= user.email %></span><br/>
 		<%= link_to "View profile", user %>
 		
 	</tr>
 	<br/>

 	<%end%>
 </table>
<%end%>

 <%= will_paginate %>
 