<% provide(:title, "All Users") %>
<h3 style="color:brown"> NoteIt users </h3>
 <%= will_paginate %>
 <%cache(cache_key_for_users(@users)) do%>
 <table>
 	<% @users.each do |user| %>
 	<br/>
 	<tr>
 		<span style="float:left">&nbsp <%= image_tag 'missing.png', size: '55'%></span>
 		<span style="color:green">&nbsp <%=link_to user.name, user %></span> <br/>
 		<span style="color:blue">&nbsp <%= user.notes.count %> notes</span> <br/>
 		<span style="color:grey">&nbsp <%= user.email %></span><br/>
 	</tr>
 	<br/>

 	<%end%>
 </table>
<%end%>

 <%= will_paginate %>
 