<h2 style="color:black"><%= user_name @user%></h2>
<div style="color:black">
	<h3><span style="color:blue"><%=(pluralize(@user.notes.count, 'note')) %></span><br/>
	
	<small>
	<%= form_for(:note, :url => notes_show_user_notes_path) do |f| %>
  	<%= hidden_field_tag :user_id, @user.id %>
  	<%= f.submit "View notes"%>
	<% end %>
	</small>
	<br/>
	<span style="color:grey"><%= pluralize(@user.notebooks.count, 'notebook') %></span><br/>
	<br/><br/>
	<h4>Aggregate note statistics of <span style="color:grey"><%= user_name @user %></span></<br/><br/>
	<span style="color:green"><%=pluralize(count_upvotes(@user),'upvote')%></span><br/>
	<span style="color:red"><%=pluralize(count_downvotes(@user), 'downvote')%></span><br/></h4></h3>
<div>
<br/>
<br/>
<br/>