<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8">
    <h3> <%= link_to @user.email, @user %> : <%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
        <li>
          <%= user.name %> <%= user.email %>
          <%= link_to "View Profile", user %>
        </li>
        <% end %>
      </ul>
      <%= will_paginate %>
      <%else%>
        Nobody here
    <% end %>
  </div>
</div>