<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8">
    <%if @user.name.nil?%>
    <h3 style="color:green"> <%= link_to @user.email, @user %> </h3>
    <%else%>
    <h3 style="color:green"> <%= link_to @user.name, @user %> </h3>
    <%end%>
    <h4 style="color:grey"><%= @title %></h4>
    <% if @users.any? %>
      
      <%cache(cache_key_for_users(@users)) do%>
       <%= will_paginate %>
      
       <table>
        <% @users.each do |user| %>
        <%cache(cache_key_for_user(user)) do%>
        
        <tr>
        <span style="float:center">_________________________________________________________________</span><br/>
    <span style="float:left">&nbsp <%= image_tag 'missing.png', size: '55'%></span>
    <span style="color:green">&nbsp <%=link_to user_name(user), user %></span> <br/>
    <span style="color:blue">&nbsp <%= pluralize(user.notes.count,'note')%></span> <br/>
    <span style="color:grey">&nbsp <%= pluralize(user.notebooks.count,'notebook')%></span><br/>
        </tr>
        
        <%end%>
        <%end%>
      </table>
       <%= will_paginate %>
      <%end%>

    <%else%>
        Nobody here
    <% end %>
  </div>
</div>