<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">   
</head>
<body>

  <%= render 'partials/navbar' %>
    <br>
    <br>

  
  <% if user_signed_in? && !(request.env['PATH_INFO'] == edit_user_registration_path) && !(request.env['PATH_INFO'] == edit_user_password_path) %>
      
        <div style="margin: 0px 20px">
          <div class="row profile">
            <%= render 'partials/sidebar' %>
            
            <div class="col-md-9">
              <div class="profile-content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>

  <% else %>
    <%= yield %>
  <% end %>
  
  <br/>
  <!--<div >
     <%= debug(params) if Rails.env.development? %>
  </div>-->

</body>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>


</html>
